{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>
    Votre maison est bien plus qu'un simple lieu de vie, c'est un sanctuaire. Notre assurance habitation
    personnalisée vous offre une protection complète pour votre espace précieux. Que ce soit contre les dommages
    structurels, le vol ou d'autres incidents imprévus, nous sommes là pour préserver votre tranquillité d'esprit.
    Explorez nos différentes options d'assurance habitation, conçues pour répondre à vos besoins spécifiques.
    Découvrez comment nous pouvons vous aider à protéger votre chez-vous et ce qui compte le plus pour vous.
    Pour en savoir plus sur nos offres et personnaliser votre couverture,
    consultez notre gamme complète de solutions d'assurance habitation.
</p>
{% endblock %}