{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Service Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px">
          <h1 class="display-6 mb-5">
            Rien que pour vous, une large gamme de produits
          </h1>
        </div>
        <div class="row g-4 justify-content-center">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
                <div
                  class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                  <img
                    class="img-fluid"
                    src="{% static 'img/icon/icon-10-light.png' %}" alt=""/>
                </div>
                <h4 class="mb-0">Assurance Vie</h4>
              </div>
              <p class="mb-4">
                Assurez votre avenir et celui de vos proches avec notre assurance vie sur mesure...
              </p>
              <a class="btn btn-light px-3" href="{% url 'core:life_insurance' %}">Plus</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
                <div
                  class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                  <img class="img-fluid"
                    src="{% static 'img/icon/icon-01-light.png' %}" alt=""/>
                </div>
                <h4 class="mb-0">Assurance Santé</h4>
              </div>
              <p class="mb-4">
                Priorisez votre bien-être avec notre assurance santé complète et personnalisée...
              </p>
              <a class="btn btn-light px-3" href="{% url 'core:health_insurance' %}">Plus</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
                <div
                  class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                  <img class="img-fluid"
                    src="{% static 'img/icon/icon-05-light.png' %}" alt=""/>
                </div>
                <h4 class="mb-0">Assurance Habitation</h4>
              </div>
              <p class="mb-4">
                Sécurisez votre chez-vous avec notre assurance habitation sur mesure...
              </p>
              <a class="btn btn-light px-3" href="{% url 'core:home_insurance' %}">Plus</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
                <div
                  class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                  <img class="img-fluid"
                    src="{% static 'img/icon/icon-08-light.png' %}" alt=""/>
                </div>
                <h4 class="mb-0">Assurance Automobiles</h4>
              </div>
              <p class="mb-4">
                Roulez en toute sérénité avec notre assurance automobile adaptée à vos besoins...
              </p>
              <a class="btn btn-light px-3" href="{% url 'core:car_insurance' %}">Plus</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
                <div
                  class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                  <img class="img-fluid"
                    src="{% static 'img/icon/icon-07-light.png' %}" alt=""/>
                </div>
                <h4 class="mb-0">Assurance Entreprise</h4>
              </div>
              <p class="mb-4">
                Aliqu diam amet eos erat ipsum et lorem et sit, sed stet lorem
                sit clita duo justo erat amet
              </p>
              <a class="btn btn-light px-3" href="">Plus...</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
                <div
                  class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                  <img class="img-fluid"
                    src="{% static 'img/icon/icon-06-light.png' %}" alt=""/>
                </div>
                <h4 class="mb-0">Assurance des Biens</h4>
              </div>
              <p class="mb-4">
                Aliqu diam amet eos erat ipsum et lorem et sit, sed stet lorem
                sit clita duo justo erat amet
              </p>
              <a class="btn btn-light px-3" href="">Plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->
{% endblock %}